@import './variables.scss';

// change text selection in browser
::-moz-selection {
    color: var(--vp-c-accent-text);
    background: var(--vp-c-accent);
}
::selection {
    color: var(--vp-c-accent-text);
    background: var(--vp-c-accent);
}

[v-cloak] {
    display: none;
}

@import './images.scss';
@import './home.scss';

